.global-chat {
  height: 350px;
  border: 2px solid #555;
  overflow-y: scroll;
}

.users {
  overflow-y: scroll;
  height: 200px;
  border: 2px solid #555;
}

.user {
  background: #ddd;
  color: #333;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
}

.user.selected {
  background: #5f59;
}

.user-box {
  height: 150px;
}
